<table>
  <thead>
    <tr>
      <th>id</th>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>合計料金</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>作成日</th>
    </tr>
  </thead>
 
  <tbody>
    <!--< @rooms.each do |room| %>-->
    <!--    <tr>-->
    <!--      <td>-->
    <!--        <= room.id %>-->
    <!--      </td>-->
    <!--      <td>-->
    <!--        < if room.room_image.attached? %>-->
    <!--          %= image_tag room.room_image, size: '100' %>-->
    <!--        < else %>-->
              <!--<= image_tag asset_path('icon_default_room_image.jpg'), size: '100' %>-->
    <!--          画像なし-->
    <!--        < end %>-->
    <!--      </td>-->
    <!--      <td><= link_to room.room_name, room %></td>-->
    <!--      <td><= room.room_price %></td>-->
    <!--      <td><= room.room_content %></td>-->
    <!--      <td><= room.created_at %></td>-->
          <!--<td>-->
          <!--  <= room.room_address %>-->
          <!--</td>-->
         <!--<td><= room.image %></td>-->
         <!--<td><= image_tag url_for(current_user.rooms.room_image) %></td>-->

         <!--          <td>-->
         <!--   <= link_to room.room_name, room %>-->
         <!-- </td>-->
        <!--  <td>-->
        <!--    <= link_to "確認", post %>-->
        <!--  </td>-->
         
        <!--  <td>-->
        <!--    <= link_to "編集", [:edit, post] %>-->
        <!--  </td>-->
         
        <!--  <td>-->
        <!--    <= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %>-->
        <!--  </td>-->
        <!--</tr>-->
    <!--  < end %>-->
    <% if @reservations.count > 0 %>
      <% @reservations.each do |reservation| %>
        <tr>
          <td>
            <%= reservation.id %>
          </td>
          <td>
            <% if reservation.room.room_image.attached? %>
              <%= image_tag reservation.room.room_image, size: '100' %>
            <% else %>
              <!--<= image_tag asset_path('icon_default_room_image.jpg'), size: '100' %>-->
              画像なし
            <% end %>
          </td>
          <td><%= reservation.room.room_name %></td>
          <!--<td><= reservation.room.room_price %></td>-->
          <td><%= reservation.room.room_content %></td>
          <!--<td>-->
          <!--  < if room.room_image.attached? %>-->
          <!--    <= image_tag room.room_image, size: '100' %>-->
          <!--  < else %>-->
              <!--<= image_tag asset_path('icon_default_room_image.jpg'), size: '100' %>-->
          <!--    画像なし-->
          <!--  < end %>-->
          <!--</td>-->
          <td><%= reservation.reservation_price %></td>
          <td><%= reservation.reservation2_start %></td>
          <td><%= reservation.reservation2_end %></td>
          <!--<td><= room.created_at %></td>-->
          <!--<td>-->
          <!--  <= room.room_address %>-->
          <!--</td>-->
         <!--<td><= room.image %></td>-->
         <!--<td><= image_tag url_for(current_user.rooms.room_image) %></td>-->

         <!--          <td>-->
         <!--   <= link_to room.room_name, room %>-->
         <!-- </td>-->
        <!--  <td>-->
        <!--    <= link_to "確認", post %>-->
        <!--  </td>-->
         
        <!--  <td>-->
        <!--    <= link_to "編集", [:edit, post] %>-->
        <!--  </td>-->
         
        <!--  <td>-->
        <!--    <= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %>-->
        <!--  </td>-->
        <!--</tr>-->
      <% end %>
    <% else %>
      <td colspan="5">現在登録しているスケジュールは有りません</td>
    <% end %>
    
  </tbody>
</table>