<h1>検索結果：件</h1>

<table>
    <thead>
        <tr>
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>住所</th>
            <th>ルーム紹介</th>
            <th>料金</th>
            <th>作成日</th>
        </tr>
    </thead>

    <tbody>
        <% @registers.each do |register| %>
            <tr>
                <td>
                <%= image_tag register.room_image_url(:thumb ) if register.room_image.present? %>
                </td>
                <td><%= link_to register.room_name, register %></td>
                <td><%= register.address %></td>
                <td><%= register.introduction %></td>
                <td><%= register.price %></td>
                <td><%= register.created_at.to_s(:datetime_jp) %></td>
            </tr>
        <% end %>
    </tbody>
</table>